/* ============================== 
Container
============================== */

main { /* Container */
    display: block;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 1em; /* Mobile Display */
}

/* ==============================
Base/Global Styles
============================== */

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    overflow-y: scroll;
}

h1, h2, p,
fieldset, input, textarea,
select, button {
    margin: 0;
    padding: 0;
}

body {
    background: ghostwhite;
    color: #ccc;
    font: 1em/1.5 'Merriweather', serif;
}

header {
    background: #1d2f3e;    
    margin-bottom: 2em;
}

header h1 {
    color: white;
    padding: 25px 0;
}

h1,
h2 {
    text-align: center;
    line-height: 1.75;
}

h1,
h2,
legend {
    color: #1d2f3e; /* #2d3945 */
    font-size: 1.125em;   
}

h2 {
    margin-bottom: 2em; 
    height: 10px;
    color: darkgrey;
    font-weight: 100;
    font-size: 0.875em;   
}

fieldset {
    border: none;
}

label {
    color: #1d2f3e;
    display: block;
    margin-bottom: 1em;
}

legend {
    margin: 1.5em 0;    
}

/* ============================== 
Main Section 
============================== */

main {
    background:#feffff;
}

.form-headings {
    margin: 60px auto;
}

/* ============================== 
Horizontal Rules 
============================== */

hr {
    /* position: relative; */
    height: 6px;
    background: #1d2f3e;
    margin-bottom: 3em;
    border: none;
}

hr.thick-line {
    margin-bottom: -4px;
}
hr.thin-line {
    height: 3px;
}
thick-line,
thin-line {
    margin: 10px 0;
}

/* .double-line:after {
    
} */

/* ============================== 
Input Styles 
============================== */

/* button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
} */

input, 
select, 
textarea {
    background: #eff0f1;
    color: #1d2f3e;
    width: 100%;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border-color 1.2s;
    margin-bottom: 2em;
}

button {
	background: #3fb0ac;
	color: white;
    width: 100%;
	border: 2px solid transparent;
	border-radius: 3px;
    font-size: 1.125em;
    margin-bottom: 2em;
	padding: 1em;
}
button:focus, input:focus,
select:focus, textarea:focus {
	border-color: #46698b; /* Changing the focus state color */
    outline: 0; /* Removes the default outline focus */
}

/* ============================== 
Radio & Checkbox Input Styles 
============================== */

/* input[type="checkbox"],
input[type="radio"] {

} */

/* ============================== 
Footer
============================== */

footer {
    text-align: center;
    margin-bottom: 170px;
}

@media screen and (min-width: 768px) {
    
   	.col-1 {
		float: left;
		width: 25%;       
	}
	.col-2 {
		width: 75%;
		float: left;    
	}
}

@media screen and (min-width: 1024px) {
    
	body {
		font-size: 1.125em;
	}

	main {
		max-width: 720px;
	}
      
  

}